{% extends "layout.html" %}

{% block body %}

<h3>Hakkımda</h3>
<hr>
Herkese merhaba ben Taner. Ege Üniversitesi İstatistik 2.sınıf öğrencisiyim. Veri Bilimi yolunda günden güne kendini geliştiren birisiyim. 2 yıldır Python tarafında geliştirmeler yapıyorum ve ML tarafında algoritmalar ve arka planındaki parametre değerlerine çalışıyorum.
Mezun olmadan önce kendimi DL tarafında ilerletip Görüntü İşleme üzerine çalışmayı hedefliyorum. 3.sınıf yaz döneminden itibaren bu alanda çalışmalar yapmaya ve kednimi geliştirme hedefim aktif olarak devam etmektedir.
Ek olarak orta seviyede SQL Sorguları yazabiliyorum. 
R programlama dili özelinde yine veri üzerinde işlemler yapabiliyorum. Bunlara erişmek için: https://github.com/tanersekmen/R-programlama
Tableau ile dashboard tasarlayabiliyorum.
Son olarak Pyspark tarafında veri analizi - ml çalışmam mevcut. Buna ulaşmak için: https://github.com/tanersekmen/pyspark-mllib  
<hr>
{% endblock body %}

